.popup_wrapper {
 position: fixed;
 width: 100vw;
 height: 100vh;
 top: 0;
 left: 0;
 display: flex;
 justify-content: center;
 align-items: flex-start;
 background-color: transparent;
 z-index: 10000000;
 overflow-y: scroll;
}

@keyframes open-anim {
 0% {
  transform: translateY(-80px);
  opacity: 0.3;
 }
 100% {
  transform: translateY(0px);
  opacity: 1;
 }
}

@keyframes bg-open {
 0% {
  opacity: 0.3;
 }
 100% {
  opacity: 1;
 }
}

.popup_content {
 position: relative;
 width: 500px;
 max-width: 95vw;
 max-height: 95vh;
 background-color: #fff;
 padding: 25px;
 margin-top: 5vh;
 border-radius: 8px;
 overflow-y: scroll;
 animation: open-anim 0.35s;
}

.popup_content label {
 font-size: 14px!important;
 font-weight: 600;
 margin: 10px 0;
}

.popup_content input {
 width: 100%;
 min-height: 45px;
 padding: 0 10px;
 box-sizing: border-box;
 font-size: 17px;
 line-height: 45px;
 border: 1px solid #d4dee2;
 border-radius: 3px;
}

.popup_content input::placeholder {
 font-size: 17px;
 line-height: 45px;
}

.popup_content input:active,
.popup_content input:focus {
 outline: 2px solid rgb(134, 134, 230);
}

.popup_content input:disabled {
 background-color: rgb(214, 218, 224);
}

.popup_content input:disabled:active {
 outline: none;
}

.action_popup button {
 width: 48%;
 height: 50px;
 font-size: 15px;
 font-weight: 500;
 border: none;
 border-radius: 5px;
}

.action_popup button:nth-child(1) {
 border: 1px solid rgb(201, 202, 209);
 background-color: #fff;
}

.action_popup button:nth-child(2) {
 color: #fff;
 background-color: var(--color-primary-blue);
}

.action_popup {
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.btn_close {
 margin-bottom: 15px;
}

.popup_bg {
 position: fixed;
 width: 100vw;
 height: 100vh;
 background-color: rgba(0, 0, 0, 0.534);
 z-index: -1;
 animation: bg-open 0.3s;
}

.trans_buttons {
 display: flex;
 border-bottom: var(--border-lightgray);
 margin-bottom: 20px;
}

.trans_buttons button {
 flex: 1 1 33%;
 height: 50px;
 font-size: 14px;
 font-weight: 400;
 border: none;
 background-color: transparent;
 transition: background 0.3s ease;
}

.trans_buttons button:hover {
 background-color: rgb(245, 248, 250);
}

button.active {
 font-weight: 500;
 border-bottom: 3px solid var(--color-primary-blue);
}

.btn_close {
 position: relative;
 padding: 0;
 margin-top: -5px;
 margin-left: -5px;
 color: #6b6b6b;
 font-size: 30px;
 line-height: 0;
 background-color: transparent;
 border: none;
 z-index: 1000000;
}

span.red {
 color: red;
}

.total_opt {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.amount_input,
.total_field,
.price_field {
 position: relative;
 margin-bottom: 15px;
}

.amount_input span {
 position: absolute;
 top: 0;
 right: 20px;
 font-size: 15px;
 line-height: 45px;
 font-weight: 500;
 text-transform: uppercase;
}

.total_field::before,
.price_field::before {
 content: "USD";
 position: absolute;
 left: 10px;
 top: calc(50% - 9px);
 font-size: 17px;
 line-height: 17px;
 color: #66666d;
}


.total_field input,
.price_field input {
 padding-left: 55px;
}
.amount_input input {
 padding-right: 60px;
}

.action_popup button {
 width: 48%;
 height: 50px;
 font-size: 15px;
 font-weight: 500;
 border: none;
 border-radius: 5px;
}

.action_popup button:nth-child(1) {
 border: 1px solid rgb(201, 202, 209);
 background-color: #fff;
}

.action_popup button:nth-child(2) {
 color: #fff;
 background-color: var(--color-primary-blue);
}

.action_popup {
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.select_wallet,
.select_swap  {
display: flex;
align-items: flex-start;
margin-bottom: 10px;
}

.select_wallet select,
.select_swap select {
 min-height: 40px;
 margin-left: 15px;
 border-radius: 5px;
}

.quantity_swap {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.quantity_swap span {
 font-size: 13.2px;
 font-weight: 500;
}

.quantity_swap span > span {
 text-transform: uppercase;
}

.feenotes button {
 height: 25px;
 overflow: hidden;
 color: var(--color-primary-blue);
 font-weight: 500;
 font-size: 14.5px;
 background-color: transparent;
 border: none;
}
.feenotes button > span {
 color: rgb(43, 43, 43);
}

.feenotes .content {
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.35s ease;
 margin-bottom: 10px;
}

.feenotes .content.open {
 max-height: 170px;
}

.feenotes {
 margin: 10px 0;
}

@keyframes showAnim {
 0% {
  opacity: 0;
 }
 50% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}

.form_content {
 animation: showAnim 0.2s linear;
}

@media only screen and (max-width: 450px) {
 .popup_wrapper {
  align-items: flex-start;
 }
 .popup_content {
  max-width: 98vw;
  max-height: calc(var(--app-height));
  min-height: 40vh;
  padding: 15px;
  margin-top: 3px;
  overflow-y: scroll;
 }
 .action_popup button {
  height: 40px;
 }

 .popup_content input {
  margin-bottom: 5px;
 }

 h2 {
  margin: 0!important;
 }

 .action_popup {
  margin-top: 12px;
 }
}