.content_block {
 position: relative;
 width: 100%;
 min-height: 80vh;
 min-height: calc(100vh - 150px);
 padding: 20px;
 border-radius: var(--border-radius-block);
 background-color: var(--color-bg-primary);
 overflow: hidden;
 margin-bottom: 20px;
 border: var(--border-lightgray2);
 box-shadow: var(--shadow-main);
}

/* Breadcrumbs styles */

.breadcrumbs {
 display: flex;
 align-items: center;
 justify-content: flex-start;

 margin-bottom: 15px;
 margin-left: -5px;

 font-size: 16px;
 line-height: 17px;
 font-weight: 500;
 user-select: none;
}

.breadcrumbs a,
.breadcrumbs svg {
 color: var(--color-primary-blue);
 text-decoration: none;
}

.breadcrumbs a {
 display: block;
 padding: 5px;
 margin: 0;
 border-radius: 5px;
}

.breadcrumbs svg {
 font-size: 20px;
}

.breadcrumbs svg {
 margin: 0 5px 0 2px;
}

.breadcrumbs span {
 text-transform: capitalize;
 color: #686868;
}

.breadcrumbs a:hover {
 background-color: rgb(241, 237, 237);
}

/* Breadcrumbs styles end */

.rank {
 display: inline-block;
 padding: 4px 8px;
 margin-bottom: 20px;

 font-weight: 500;
 font-size: 13.5px;
 line-height: 13.5px;
 color: #fff;
 background-color: rgb(60, 72, 80);
 border-radius: 7px;
}

.name {
 font-size: 22px;
 font-weight: 700;
}

.name span {
 text-transform: uppercase;
}

.icon {
 height: 30px;
 user-select: none;
}

.icon img {
 width: 30px;
 margin-right: 8px;
}

.maininfo_block {
 display: flex;
 align-items: center;
}

.price_block {
 margin: 10px 0;
}

.price {
 font-size: 32px;
 font-weight: 700;
}

.price_dash {
 display: flex;
 align-items: center;
 margin-left: 5px;

 font-size: 22px;
 line-height: 22px;
 font-weight: 700;
 color: red;
}

.price_dash svg {
 line-height: 0;
 font-size: 22px;
}

.priceup svg {
 transform: rotate(180deg);
}

.priceup {
 color: rgb(32, 182, 32);
}

.share_buttons {
 margin-bottom: 15px;
}

.share_buttons button {
 display: inline-flex;
 align-items: center;
 justify-content: center;

 width: 50px;
 height: 37px;
 background-color: #fff;
 border-radius: 5px;
 border: var(--border-lightgray);
}

.share_buttons button:not(:last-child) {
 margin-right: 10px;
}

.share_buttons button:active {
 background-color: rgb(230, 234, 240);
 border-color: var(--color-primary-blue);
}

.share_buttons button svg {
 font-size: 20px;
 line-height: 0;
}

.coin_info {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 width: 100%;
 max-width: 1000px;
 max-height: 150px;

 margin: 15px 0;

 font-size: 13.2px;
}

.coin_info .info_block {
 display: flex;
 align-items: flex-end;
 justify-content: space-between;
 padding: 10px 0;
 width: calc(50% - 15px);
 border-bottom: var(--border-lightgray);
}

.info_block span:nth-child(1) {
 color:rgb(60, 72, 80);
 margin-right: 30px;
}

.info_block span:nth-child(2) {
 font-size: 13.6px;
 font-weight: 500;
 letter-spacing: 0.023em;
}

/* Range styles */

.range_content {
 width: 490px;
 max-width: 100%;
 margin-bottom: 40px;
}

.range_block {
 background-color: rgb(228, 228, 228);
 height: 8px;
 border-radius: 5px;
 overflow: hidden;
}

.s24_range {
 width: 0%;
 max-width: 100%!important;
 height: 8px;
 background-color: rgba(0,58,210,1);
 background: linear-gradient(90deg, rgba(0,255,190,1) 0%, rgba(0,58,210,1) 100%);
 transition: width 0.6s;
}


.range_subblock {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 8px 0;

 font-size: 14.5px;
 font-weight: 600;
}

/* Range styles end */

@media only screen and (max-width: 500px) {
 .content_block { 
  padding: 0;
 }

 .main_content {
  padding: 12px;
 }

 .coin_info .info_block { 
  width: 100%;
 }
 .coin_info {
  max-height: none;
 }
 .breadcrumbs {
  margin: 8px 0 10px 8px;
 }
}