.content_block {
 position: relative;
 width: 100%;
 min-height: 80vh;
 min-height: calc(100vh - 150px);
 padding: 20px;
 border-radius: var(--border-radius-block);
 background-color: var(--color-bg-primary);
 overflow: hidden;
 margin-bottom: 20px;
 border: var(--border-lightgray2);
 box-shadow: var(--shadow-main);
}

.rank {
 display: inline-block;
 padding: 4px 8px;
 margin-bottom: 20px;

 font-weight: 500;
 font-size: 13.5px;
 line-height: 13.5px;
 color: #fff;
 background-color: rgb(60, 72, 80);
 border-radius: 7px;
}

.name {
 font-size: 22px;
 font-weight: 700;
}

.name span {
 text-transform: uppercase;
}

.icon {
 height: 30px;
 user-select: none;
}

.icon img {
 width: 30px;
 margin-right: 8px;
}

.maininfo_block {
 display: flex;
 align-items: center;
}

.price_block {
 margin: 10px 0;
}

.price {
 font-size: 32px;
 font-weight: 700;
}

.price_dash {
 display: flex;
 align-items: center;
 margin-left: 5px;

 font-size: 22px;
 line-height: 22px;
 font-weight: 700;
 color: red;
}

.price_dash svg {
 line-height: 0;
 font-size: 22px;
}

.priceup svg {
 transform: rotate(180deg);
}

.priceup {
 color: rgb(32, 182, 32);
}

.share_buttons {
 margin-bottom: 15px;
}

.share_buttons button {
 display: inline-flex;
 align-items: center;
 justify-content: center;

 width: 50px;
 height: 37px;
 background-color: #fff;
 border-radius: 5px;
 border: var(--border-lightgray);
}

.share_buttons button:not(:last-child) {
 margin-right: 10px;
}

.share_buttons button:active {
 background-color: rgb(230, 234, 240);
 border-color: var(--color-primary-blue);
}

.share_buttons button svg {
 font-size: 20px;
 line-height: 0;
}

.coin_info {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 width: 100%;
 max-width: 1000px;
 max-height: 150px;

 margin: 15px 0;

 font-size: 13.2px;
}

.coin_info .info_block {
 display: flex;
 align-items: flex-end;
 justify-content: space-between;
 padding: 10px 0;
 width: calc(50% - 15px);
 border-bottom: var(--border-lightgray);
}

.info_block span:nth-child(1) {
 color:rgb(60, 72, 80);
 margin-right: 30px;
}

.info_block span:nth-child(2) {
 font-size: 13.6px;
 font-weight: 500;
 letter-spacing: 0.023em;
}

.main_group {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 flex-wrap: wrap;
}

.info_1_block {
 flex: 1;
}

.coin_buttons {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 justify-content: flex-start;
 flex: 1 0 auto;
 margin-top: 40px;
 margin-left: 30px;
}

.coin_buttons button {
 position: relative;
 padding: 10px 20px;
 padding-right: 30px;
 color: #fff;
 background-color: var(--color-primary-blue);
 border-radius: 8px;
 border: none;
 transition: background0.3s ease;

 font-weight: 500;
 text-align: left;
}

.coin_buttons button:hover {
 background-color: #2144b8;
}

.drop:after {
content: "";
position: absolute;
bottom: calc(50% - 4px);
right: 12px;
display: block;
width: 0; 
height: 0; 
border-left: 6px solid transparent;
border-right: 6px solid transparent;

border-top: 6px solid rgb(255, 255, 255);
}

.coin_buttons button:not(:last-child) {
 margin-bottom: 8px;
}

/* Range styles */

.range_content {
 width: 490px;
 max-width: 100%;
 margin-bottom: 40px;
}

.range_block {
 background-color: rgb(228, 228, 228);
 height: 8px;
 border-radius: 5px;
 overflow: hidden;
}

.s24_range {
 width: 0%;
 max-width: 100%!important;
 height: 8px;
 background-color: rgba(0,58,210,1);
 background: linear-gradient(90deg, rgba(0,255,190,1) 0%, rgba(0,58,210,1) 100%);
 transition: width 0.6s;
}


.range_subblock {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 8px 0;

 font-size: 14.5px;
 font-weight: 600;
}

/* Range styles end */

/* Exchange styles */

.exchange {
 margin: 40px 0 20px;
 padding: 10px;
 height: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgb(238, 241, 245);
 border-radius: 10px;
}

.exchange svg {
 margin: 0 20px;
 font-size: 24px;
}

.input_block_ex {
 position: relative;
 border-radius: 10px;
 overflow: hidden;
 border: var(--border-lightgray);
}

.input_block_ex button,
.input_block_ex input {
 height: 50px;
 border: none;
}

.input_block_ex button {
 width: 60px;
 position: absolute;
 bottom: 0;
 left: 0;
 font-size: 14.5px;
 font-weight: 500;
 overflow: hidden;
 text-transform: uppercase;
 white-space: nowrap;
 background-color: rgb(255, 255, 255);
 border-right: var(--border-lightgray);
}

.input_block_ex input {
 padding: 10px 10px 10px 70px;
 width: 300px;
 font-size: 18px;
}

/* Exchange styles end */

@media only screen and (max-width: 965px) {
 .coin_buttons {
  flex: 1 0 100%;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px 0 0;
 }

 .coin_buttons button:not(:last-child) {
  margin-bottom: 0;
  margin-right: 10px;
 }
}

@media only screen and (max-width: 620px) {
 .coin_buttons {
  flex-wrap: wrap;
 }
 .coin_buttons button:not(:last-child) {
  margin: 0;
 }
 .coin_buttons button {
  flex: 0 1 49%;
  margin-bottom: 5px!important;
 }
 .range_content {
  width: auto;
 }
}

@media only screen and (max-width: 500px) {
 .content_block { 
  padding: 0;
 }

 .main_content {
  padding: 12px;
 }
 .exchange {
  margin: 30px 8px;
  padding: 20px 10px;
 }

 .coin_info .info_block { 
  width: 100%;
 }
 .coin_info {
  max-height: none;
 }
 .breadcrumbs {
  margin: 8px 0 10px 8px;
 }
 .coin_buttons button {
  padding: 15px 20px;
  padding-right: 30px;
 }

.share_buttons button {
 width: 70px;
 height: 46px;
}

.share_buttons button svg {
 font-size: 24px;
}
}

@media only screen and (max-width: 460px) {
 .exchange {
  height: auto;
  flex-direction: column;
  margin: 30px 0;
  border-radius: 00;
 }
 .exchange svg {
  display: none;
 }
 .input_block_ex input {
  width: 100%;
 }

 .input_block_ex {
  width: 87%;
 }
 .input_block_ex:first-child {
  margin-bottom: 10px;
 }
}

@media only screen and (max-width: 410px) {
 .coin_buttons button {
  flex: 1 0 250px;
 }
}