.login_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-width: 270px;
    min-height: 400px;
    background-color: var(--color-primary-blue);
}

.sect_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sect_overlay .title {
    margin-right: auto;
    color: #fff;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

.register_block,
.login_block {
    background-color: #fff;
    border-radius: 5px;
    border: var(--border-lightgray);
}

.login_block {
    min-width: 270px;
    width: 350px;
    max-width: 95vw;
    padding: 30px 30px 10px;
}

.register_block {
    width: 500px;
    padding: 30px;
}

.register_block input,
.login_block input {
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin-top: 3px;
    font-size: 15px;
    border: var(--border-lightgray);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
}

.register_block input:focus,
.login_block input:focus {
    border-color: blue;
}

.reg_success {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reg_title {
    display: block;
    font-size: 26px;
    margin: 10px 0;
}

.reg_icon {
    font-size: 90px;
    line-height: 10px;
    color: var(--color-primary-blue);
}

.reg_subtitle {
    font-size: 17px;
    color: var(--color-primary-gray);
    margin-bottom: 10px;
}

.reg_success a {
    display: block;
    text-decoration: none;
    margin-top: 15px;
}

.login_field {
    margin-top: 15px;
}

.login_field label {
    font-size: 14.5px;
}

.login_block .overlay {
    position: relative;
    margin-bottom: 10px;
}

.login_block button,
.login_block a {
    transition: opacity 0.2s ease;
}

.login_block button:hover,
.login_block a:hover {
    opacity: 0.7;
}

.login_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.btn_login {
    padding: 9px 25px;
    margin: 0;
    font-size: 15px;
    color: #fff;
    background-color: var(--color-primary-blue);
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.btn_github {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0!important;
    border: var(--border-lightgray);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    background-position: 50% 50%;
    background-size: 30px 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z'/%3E%3C/svg%3E");
}

.more_links a {
    text-decoration: none;
    margin-right: 20px;
    color: var(--color-primary-blue);
}

.more_links a:nth-last-child(1) {
    margin-right: 0;
}

.more_links {
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    .login_block {
    padding: 30px 10px 10px;
    }
}