.aside_overlay {
    flex: 0 0 11vw;
    padding-left: 6px;
    width: 11vw;
    min-width: 175px;
    height: 100vh;
    background-color: #fff;
    border-right: var(--border-lightgray);
    z-index: 100;
    overflow: hidden;
}

/* hide aside navbar */
.aside_overlay.aside_hidden {
    flex: 0 0 50px;
    width: 50px;
    min-width: 50px;
}

.logo {
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    height: 60px;
    font-weight: 600;
    color: var(--color-primary-blue);
    user-select: none;
    cursor: pointer;
}
.logo_mob {
    display: none;
}

.aside_menu {
    margin: 5px 0;
}

.aside_menu ul a {
    position: relative;
    display: block;
    padding: 10px 1.5vw 10px 45px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-second-text);
    border-radius: 50px 0 0 50px;
    transition: background-color 0.05s ease-in;
}

a.dropdown::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    right: 1.2vw;
    bottom: 19px;
    border: 1px solid gray;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
}

.aside_menu a > svg {
    position: absolute;
    left: 12px;
    bottom: 11px;
    bottom: calc(50% - 11px);
    width: 22px;
    height: 22px;
}

.aside_menu li {
    margin-bottom: 5px;
}

.aside_menu li,
.aside_menu a {
    height: 43px;
}

.aside_menu ul a:hover {
    background-color: var(--color-primary-lightgray2);
}

.aside_menu ul a.active_a:hover,
.active_a {
    background-color: var(--color-primary-lightgray);
    color: var(--color-primary-blue)!important;
}

.active_a {
    font-weight: 600;
}

.toggleAside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: none;
    border-radius: 7px 0 0 7px;
    background-color: var(--color-primary-blue);
    transition: background-color 0.1s ease-in;
}

.toggleAside svg {
    width: 23px;
    height: 23px;
    color: #fff;
}

.toggleAside:hover {
    background-color: var(--color-primary-darkblue);
}

.aside_hidden .toggleAside svg {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.aside_hidden .aside_menu a::after {
  content: none;
}


@media only screen and (max-width: 820px) {
    .aside_overlay {
        min-width: 160px;
    }
}

@media only screen and (max-width: 768px) {
    .toggleAside {
        display: none;
    }
    .logo {
        display: none;
    }
    .logo_mob {
        display: block;
    }
    .aside_overlay {
        flex: 0 0 50px;
        width: 50px;
        min-width: 50px;
    }
    .aside_menu a::after {
        content: none;
      }
}