.dashboard_overlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--color-bg-lightgray);
}

.main_dash {
    max-width: 100vw;
    height: calc(100vh - 60px);
    padding: 20px 20px 0;
    overflow-y: scroll;
}
.main_dash h1 {
    color: #3d434e;
    font-size: 28px;
    margin: 5px 0 15px;
}

.dashboard_content {
    flex: 1 0;
    height: 100vh;
    overflow: hidden;
}

.content_block {
    width: 33%;
    min-height: 200px;
    padding: 20px;
    border-radius: 1vw;
    background-color: var(--color-bg-primary);
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 1px 0 0 rgb(163 171 185 / 15%);
    border: var(--border-lightgray);
}

/* header section */

.header_dash {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-primary);
    border-bottom: var(--border-lightgray);
}

.mob_logo { 
    display: none;
    order: 1;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 600;
    color: var(--color-primary-blue);
    -webkit-user-select: none;
    user-select: none;
}

/* content-wrapper right side */

.header_dash {
    padding-right: 1.5vw;
}


.header_dash .header_title {
    display: inline-block;
    flex: 1;
    padding-left: 15px;
}

/* Search */

.dashboard_search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 15px;
    height: 100%;
}

.search_results {
    display: none;
    position: absolute;
    width: 110%;
    top: 100%;
    left: -5%;
}

.show_results {
    display: block;
}

/* Dropdown styles */

.drop_overlay {
    width: 100%;
    padding: 10px 0 10px;
}

.drop_t {
    margin: 0 0 6px 10px;
    padding: 0!important;
    font-size: 14px;
    color: var(--color-primary-gray);
    text-transform: capitalize;
}

/* Dropdown styles end */

.dashboard_search input {
    flex: 0 0 270px;
    width: 270px;
    padding: 5px 35px 5px 10px;
    margin: 0;
    height: 35px;
    font-size: 16px;
    font-family: inherit;
    box-sizing: border-box;
    
    background-color: #f1f5ff;
    border: 1px solid #cfd9f0;

    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 96% 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16669 1.66663C13.3067 1.66663 16.6667 5.02663 16.6667 9.16663C16.6667 13.3066 13.3067 16.6666 9.16669 16.6666C5.02669 16.6666 1.66669 13.3066 1.66669 9.16663C1.66669 5.02663 5.02669 1.66663 9.16669 1.66663ZM9.16669 15C12.3892 15 15 12.3891 15 9.16663C15 5.94329 12.3892 3.33329 9.16669 3.33329C5.94335 3.33329 3.33335 5.94329 3.33335 9.16663C3.33335 12.3891 5.94335 15 9.16669 15ZM16.2375 15.0591L18.595 17.4158L17.4159 18.595L15.0592 16.2375L16.2375 15.0591V15.0591Z' fill='%231F4173'/%3E%3C/svg%3E%0A");
}

.dashboard_wrapper {
    position: relative;
    height: 100%;
    margin: 0 5px;
    min-width: 150px;
    order: 1;
}

.dashboard_cuser {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  padding: 0 10px;
  height: 100%;
  user-select: none;
  cursor: pointer;
}

.show_settings .dashboard_cuser,
.show_block .dash_notific,
.dashboard_cuser:hover,
.dash_notific:hover {
    background-color: var(--color-primary-lightgray2);
}

.cuser_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cuser_name {
    position: relative;
    padding-right: 18px;
    padding-left: 14px;
    font-weight: 600;
    font-size: 14px;
    color: #4d5765;
}

.cuser_name::after {
    right: 0;
    bottom: 40%;
}

.cuser_settings {
    display: none;
    width: 100%;
    min-width: 230px;
    position: absolute;
    top: 100%;
    right: 0;
}

.cuser_settings ul {
    padding: 5px 0;
}

.cuser_settings li button,
.cuser_settings li a {
    display: block;
    width: 100%;
    position: relative;
    padding: 15px 10px 15px 35px;
    font-size: 14.5px;
    color: #525252;
    border: none;
    text-align: left;
    text-decoration: none;
    background-color: transparent;
    border-top: 1px solid #eeeeee;
}


.cuser_settings li:nth-child(1) button,
.cuser_settings li:nth-child(1) a {
    margin-top: 0;
}

.cuser_settings li a:hover,
.cuser_settings li button:hover {
    background-color: var(--color-primary-lightgray2);
}

.cuser_settings li svg {
    position: absolute;
    bottom: calc(50% - 0.5em);
    left: 9px;
    font-size: 1.32em;
}

.show_settings .cuser_settings {
    display: block;
}

/* Notifications */

.dashboard_notifications {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 10px;
}

.dash_notific {
    padding: 0;
    margin: 0;
    width: 44px;
    height: 44px;
    border: none;
    font-size: 0!important;
    background: transparent;
    background-position: 50% 50%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 17H22V19H2V17H4V10C4 7.87827 4.84285 5.84344 6.34315 4.34315C7.84344 2.84285 9.87827 2 12 2C14.1217 2 16.1566 2.84285 17.6569 4.34315C19.1571 5.84344 20 7.87827 20 10V17ZM18 17V10C18 8.4087 17.3679 6.88258 16.2426 5.75736C15.1174 4.63214 13.5913 4 12 4C10.4087 4 8.88258 4.63214 7.75736 5.75736C6.63214 6.88258 6 8.4087 6 10V17H18ZM9 21H15V23H9V21Z' fill='%231F4173' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
    border-radius: 50%;
}

.notif_block {
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    right: 0;
    padding: 15px 20px;
}

.notif_block,
.drop_overlay {
    background-color: #fff;
    border: var(--border-lightgray2);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: var(--shadow-main);
}

.show_block .notif_block {
    display: block;
}

/* Notifications end */

@media only screen and (max-width: 1130px) {
    .main_dash {
        padding: 10px 10px 0;
    }
}

@media only screen and (max-width: 820px) {
    .dashboard_wrapper {
        min-width: auto!important;
    }
    
    .cuser_name {
        display: none;
    }

    .dashboard_notifications {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 500px) { 
    .dashboard_overlay {
        overflow: hidden;
        scroll-behavior: unset;
    }

    .dashboard_search {
        display: none;
    }
    .notif_block {
        left: 0;
        right: auto;
    }
    .header_dash {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 10px;
        z-index: 100;
    }

    .header_dash .header_title {
        display: none;
    }
    .mob_logo {
        display: block;
    }

    .main_dash {
        max-width: 100vw;
        max-height: 100vh;
        height: calc(100vh - 120px);
        height: calc(100% - 120px);
        margin: 60px 0;
        overflow: scroll;
        box-sizing: border-box; 
    }
    .dashboard_notifications {
        order: -1;
    }

    .dashboard_cuser:hover {
        background-color: transparent;
    }
    .cuser_avatar {
        width: 35px;
        height: 35px;
    }
    .cuser_settings {
        min-width: 230px;
        max-width: 100vh;
    }

}


