.content_block {
  position: relative;
  width: 100%;
  min-height: 80vh;
  min-height: calc(100vh - 150px);
  padding: 20px;
  border-radius: var(--border-radius-block);
  background-color: var(--color-bg-primary);
  overflow: hidden;
  margin-bottom: 20px;
  border: var(--border-lightgray2);
  box-shadow: var(--shadow-main);
}

.title {
  font-size: 19px;
  margin: 0 0 1.2em;
  font-weight: 600;
  letter-spacing: 0.023em;
  color: var(--color-primary-darkblue);
}

/* Block styles end */

/* Current Wallet block */

.head_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
}

.current_wallet {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.wallet_select {
  position: relative;
  text-transform:capitalize;
  font-size: 19px;
  font-weight: 600;
  flex: 1;
}

.wallet_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.btn_selected {
  padding: 0 10px;
  line-height: 40px;
  border: none;
  text-transform: capitalize;
  background-color: transparent;
}

.active.btn_selected {
  outline: 2px solid rgb(226, 234, 238);
}

.btn_selected svg {
  font-size: 30px;
  margin-bottom: -9px;
  transform: transform 2.3s ease, outline 0s;
}
 
.btn_selected:active {
  outline: 2px solid rgb(226, 234, 238);
}

.btn_selected:hover {
  outline: 1.5px solid rgb(231, 238, 240);
}

.wallet_select ul {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;

  max-height: 70vh;

  background-color: #fff;
  border: 1px solid #d9dfe4;
  border-top: none;
  overflow: hidden;
  box-shadow: var(--shadow-main2);
  z-index: 1000000;
  
  overflow-y: scroll;
}

.wallet_select li {
  cursor: pointer;
}

.wallet_select li > span,
.wallet_select ul button {
  display: block;
  padding: 18px 45px 18px 20px;
  font-size: 16px;
  text-align: left;
  border-top: 1px solid #d9dfe4;
}

.wallet_select li {
  position: relative;
}

.wallet_select .act {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: green;
  
}

.wallet_select li:hover,
.btn_new:hover {
  background-color: rgb(239, 242, 245);
}

.btn_new {
  width: 100%;
  border: none;
  background-color: #fff;
}

.btn_new svg {
  font-size: 19px;
  line-height: 0;
  margin-bottom: -3px;
  margin-right: 5px;
  margin-left: -5px;
}

.current_block {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  padding: 15px 25px 15px 15px;
  border: var(--border-lightgray);
  border-radius: 17px;
  box-shadow: var(--shadow-main);
}

.current_block:not(:last-child) {
  margin-right: 12px;
}

.current_block span:nth-child(1) {
  font-size: 19px;
}
.current_block span:nth-child(2) {
  font-size: 14px;
  color: #1d1d1d;
}

.wallet_controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn_menu,
.btn_visibility {
  padding: 0;
  margin: 0 5px 0 0;
  width: 40px;
  height: 40px;

  font-size: 25px;
  line-height: 0;
 
  background: transparent;
  border-radius: 50%;
  border: none;
}

.btn_menu {
  font-size: 20px;
}


.btn_menu,
.btn_visibility,
.btn_addcoin {
  transition: background 0.3s ease;
}

.btn_menu:hover,
.btn_visibility:hover {
  background-color: #eaecf1;
}

/* Current Wallet block end */

/* Create new block */

.create_new {
  text-align: center;
  margin: 20% 0;
}

.create_new button {
  margin-top: 20px;
  padding: 0 20px;
  height: 40px;
  
  font-size: 15px;
  color: #fff;
  background-color: var(--color-primary-blue);
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.create_new button:hover {
  background-color: var(--color-primary-blue-hover);
 }

/* Create new block end */

.select_wrapper {
  display: inline-block;
}

@media only screen and (max-width: 500px) {

}