.select_block {
 position: relative;
}

.select_type {
 position: absolute;
 right: 0;
 top: 3px;

 width: 140%;
 max-width: 90vw;
 min-height: 300px;
 height: 400px;
 max-height: 50vh;
 padding: 15px 12px;

 background-color: #fff;
 border-radius: 4px;
 border: var(--border-lightgray);
 box-shadow: var(--shadow-main2);
 z-index: 100000;
}

.opened {
 outline: var(--outline-main)!important;
 border-radius: 2px;
}

.select_type input {
 display: block;
 max-width: 280px;
 height: 40px;
 min-height: 40px;
 font-size: 15px;
 margin-bottom: 14px;
}

.select_type input::placeholder {
 font-size: 15px;
}

.select_options .content {
 width: 100%;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 flex-wrap: wrap;
 margin: 10px 0;
 overflow: hidden;
}

.select_options > span {
 font-weight: 600;
 font-weight: 17px;
}

.elem {
 flex: 0 1 33%;
 min-width: 200px;
 padding: 10px;
 font-size: 15px;
 cursor: pointer;
}

.elem:hover {
 background-color: var(--color-primary-lightgray2);
}

.elem span:nth-child(1) {
 margin-right: 7px;
 color: rgb(112, 112, 112);
}


.elem span:nth-child(2) {
 color: #000;
}