/* Reset.css */

html {
  box-sizing: border-box;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  user-select: none;
}

button:focus,
input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Reset.css end */



:root {
  --app-height: 100%;
  --color-bg-primary: #fff;
  --color-bg-lightgray: #f7f8ff;
  --color-primary-blue: #003AD2;
  --color-primary-darkblue: #1F4173;
  --color-header-text: #1F4173;
  --color-basic-text: #1F4173;
  --color-second-text: #738195;
  --color-primary-black: #1e1e1e;
  --color-primary-gray: #717A8A;
  --color-primary-lightgray: #E9F0FF;
  --color-primary-lightgray2:#F0F4FC;
  --border-lightgray: 1px solid rgba(56,80,133,0.2);
  --border-lightgray2: 1px solid rgb(108, 131, 182, 0.2);
  --border-radius-block: 0.8vw;
  --shadow-main: rgba(0, 0, 0, 0.06) 0px 2px 7px;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-width: 270px;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
      "Helvetica", "Arial", sans-serif;
    color: #1e1e1e;
    line-height: 1.47059;
    font-weight: 400;
    overflow: visible;
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.content-wrapper {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* show more icon */

.ic-dropdown::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border: 1px solid gray;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}

/* Show for not unique block */

.show_block {
  display: block!important;
  opacity: 1!important;
}

.change_green {
  color: green;
}

.change_red {
  color: red;
}

/* Pagination styles */

.rc-pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px 0;
}

.rc-pagination-prev button:after {
  content: '‹';
  display: block;
  transform: translateY(-2px);
}

.rc-pagination-next button:after {
  content: '›';
  display: block;
  transform: translateY(-2px);
}

.rc-pagination button,
.rc-pagination li a {
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 29px;
  font-size: 25px;
  border: var(--border-lightgray);
  border-radius: 4px;
}

.rc-pagination button {
  background-color: rgb(236, 238, 245);
  color:rgb(98, 116, 126);
  transition: 0.2s ease;
}

.rc-pagination button:hover {
  background-color: rgb(213, 216, 226);
}

.rc-pagination li {
  text-align: center;
  user-select: none;
}

.rc-pagination li:not(:last-child) {
  margin-right: 5px;
}

.rc-pagination li a {
  font-size: 18px;
  line-height: 29px;
  cursor: pointer;
}

.rc-pagination-item-active {
  background-color: var(--color-primary-blue);
  color: #fff;
  cursor: default;
  border-radius: 4px;
}

/* Pagination styles end */

select {
  border: var(--border-lightgray);
  padding: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s ease;
}
/* For IE <= 11 */
select::-ms-expand {
  display: none; 
}

select:hover {
  color: #1f4173;
  background-color: white;
  border-color: #1f4173;
}

select:hover,
select:focus {
  outline: none!important;

}

/* Mob fix */

@media only screen and (max-width: 500px) {
  .mob_fix {
    flex: 0 0 60px;
    height: 60px;
  }
}