/* Reset.css */

html {
  box-sizing: border-box;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(228, 237, 248, 0.664);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  user-select: none;
}

button:focus,
input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Reset.css end */

:root {
  --app-height: 100%;
  --color-bg-primary: #fff;
  --color-bg-lightgray: #f7f8ff;
  --color-primary-blue: #003AD2;
  --color-chart-main: #00ffbe;
  --color-primary-blue-hover: #163a94;
  --color-primary-darkblue: #1F4173;
  --color-header-text: #1F4173;
  --color-basic-text: #1F4173;
  --color-second-text: #738195;
  --color-primary-black: #1e1e1e;
  --color-primary-gray: #717A8A;
  --color-primary-lightgray: #E9F0FF;
  --color-primary-lightgray2:#F0F4FC;
  --border-lightgray: 1px solid rgba(56,80,133,0.2);
  --border-lightgray2: 1px solid rgb(108, 131, 182, 0.2);
  --border-radius-block: 0.8vw;
  --shadow-main: rgba(0, 0, 0, 0.06) 0px 2px 7px;
  --shadow-main2:   rgba(0, 0, 0, 0.10) 0px 4px 8px;


  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-width: 270px;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: #1e1e1e;
  line-height: 1.47059;
  font-weight: 400;
  overflow: visible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  }

.content-wrapper {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.error_block {
  width: 100%;
  padding: 12px 7px;
  margin: 5px 0;

  border: 1px solid rgb(223, 100, 100);
  border-radius: 7px;
  background-color: #ffe4e4;
}

.error_block span {
  margin: 0;
  font-size: 15px;
  line-height: 15px;
  color: #242424;
}

.error_block svg {
  margin-bottom: -5px;
  margin-right: 5px;

  line-height: 0;
  font-size: 22px;
  color: rgb(201, 67, 67);
}

.dash_content_loader {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: transparent;
  user-select: none;
}

.dash_content_loader > div {
  background-color: transparent;
}

.dash_content_error {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

}

.dash_content_error span {
  font-size: 1.5em;
  font-weight: 500;
}


/* show more icon */

.ic-dropdown::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border: 1px solid gray;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}

/* Show for not unique block */

.show_block {
  display: block!important;
  opacity: 1!important;
}

.change_green {
  color: green;
}

.change_red {
  color: red;
}

/* Pagination styles */

.rc-pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px 0;
}

.rc-pagination-prev button:after {
  content: '‹';
  display: block;
  transform: translateY(-2px);
}

.rc-pagination-next button:after {
  content: '›';
  display: block;
  transform: translateY(-2px);
}

.rc-pagination button,
.rc-pagination li a {
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 29px;
  font-size: 25px;
  border: var(--border-lightgray);
  border-radius: 4px;
}

.rc-pagination button {
  background-color: rgb(236, 238, 245);
  color:rgb(98, 116, 126);
  transition: 0.2s ease;
}

.rc-pagination button:hover {
  background-color: rgb(213, 216, 226);
}

.rc-pagination li {
  text-align: center;
  user-select: none;
}

.rc-pagination li:not(:last-child) {
  margin-right: 5px;
}

.rc-pagination li a {
  font-size: 18px;
  line-height: 29px;
  cursor: pointer;
}

.rc-pagination-item-active {
  background-color: var(--color-primary-blue);
  color: #fff;
  cursor: default;
  border-radius: 4px;
}

.rc-pagination-item-link:focus,
.rc-pagination-item-link:hover,
.rc-pagination-item:focus,
.rc-pagination-item:hover {
  outline: none!important;
}

/* Pagination styles end */

select {
  border: var(--border-lightgray);
  padding: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s ease;
}
/* For IE <= 11 */
select::-ms-expand {
  display: none; 
}

select:hover {
  color: #1f4173;
  background-color: white;
  border-color: #1f4173;
}

select:hover,
select:focus {
  outline: none!important;

}

input:not([type="date"]),
select {
  -webkit-appearance: none;
  }

  .select-wrapper {
    position: relative;
    display: inline-block;
  }

  .select-wrapper select {
    padding-right: 25px;
  }


.select-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  right: 8px;
  top: calc(50% - 2px);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid rgb(36, 36, 36);
}

/* Mob fix */

/* Only landscape block */

@keyframes rotate {
  0% {
		transform: rotate(135deg)
	}
	50% {
		transform: rotate(45deg)
	}
	100% {
		transform: rotate(45deg)
	}
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

.only_portrait_mobile {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  min-height: 250px;
  width: 0;
  height: 0;
  background-color: var(--color-bg-lightgray);
  z-index: -100;
  opacity: 0;
}

.only_portrait_mobile .content {
  position: absolute;
  left: calc(50% - 70px);
  top: calc(50% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.only_portrait_mobile span {
  font-weight: 500;
  margin-bottom: 10px;
}

.only_portrait_mobile img {
  width: 40px;
  height: 40px;
  transform: rotate(135deg);
  animation: rotate 2s ease-in-out infinite alternate;
}

/* Only landscape block end */

.coin_chart {
  position: relative;
}

.coin_chart .preloader {
  position: static;
  height: auto;
  padding: 20px 0;
}


@media only screen and (max-width: 500px) {
  .mob_fix {
    flex: 0 0 60px;
    height: 60px;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 590px) {
  .only_portrait_mobile { 
    width: 100vmin;
    height: 100vmax;
  }
  .content-wrapper {
      padding-left: 15px;
      padding-right: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .content-wrapper {
      padding-left: 10px;
      padding-right: 10px;
  }
}

@media screen and (orientation:landscape) and (max-width: 1000px) and (max-height: 450px) {
  .only_portrait_mobile {
    width: 100vmax;
    height: 100vmin;
    z-index: 1000000;
    opacity: 1;
  }
  .only_portrait_mobile .content {
    overflow: hidden;
    user-select: none;
  }
  body,
  html {
    height: var(--app-height);
    overflow: hidden;
  }

}