.popup_wrapper {
 position: fixed;
 width: 100vw;
 height: 100vh;
 top: 0;
 left: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: transparent;
 z-index: 10000000;
}

.popup_content {
 position: relative;
 width: 500px;
 max-width: 95vw;
 max-height: 95vh;
 min-height: 600px;
 background-color: #fff;
 padding: 25px;
 border-radius: 8px;
 overflow-y: scroll;
}

.popup_content label {
 font-size: 14px!important;
 font-weight: 600;
 margin: 10px 0;
}

.popup_content input {
 width: 100%;
 padding: 10px;
 box-sizing: border-box;
 font-size: 16px;
 border: 1px solid #d4dee2;
 margin-bottom: 25px;
 border-radius: 3px;
}

.popup_content input:active,
.popup_content input:focus {
 outline: 2px solid rgb(134, 134, 230);
}

.popup_content input:disabled {
 background-color: rgb(214, 218, 224);
}

.popup_content input:disabled:active {
 outline: none;
}

.action_popup button {
 width: 48%;
 height: 50px;
 font-size: 15px;
 font-weight: 500;
 border: none;
 border-radius: 5px;
}

.action_popup button:nth-child(1) {
 border: 1px solid rgb(201, 202, 209);
 background-color: #fff;
}

.action_popup button:nth-child(2) {
 color: #fff;
 background-color: var(--color-primary-blue);
}

.action_popup {
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.btn_close {
 margin-bottom: 15px;
}

.popup_bg {
 position: fixed;
 width: 100vw;
 height: 100vh;
 background-color: rgba(0, 0, 0, 0.534);
 z-index: -1;
}

.trans_buttons {
 display: flex;
 border-bottom: var(--border-lightgray);
 margin-bottom: 20px;
}

.trans_buttons button {
 flex: 1 1 33%;
 height: 50px;
 font-size: 14px;
 font-weight: 400;
 border: none;
 background-color: transparent;
 transition: background 0.3s ease;
}

.trans_buttons button:hover {
 background-color: rgb(245, 248, 250);
}

button.active {
 font-weight: 500;
 border-bottom: 3px solid var(--color-primary-blue);
}

.btn_close {
 position: relative;
 padding: 0;
 margin-top: -5px;
 margin-left: -5px;
 color: #6b6b6b;
 font-size: 30px;
 line-height: 0;
 background-color: transparent;
 border: none;
 z-index: 1000000;
}

span.red {
 color: red;
}

.total_opt {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.amount_input,
.total_field,
.price_field {
 position: relative;
}

.amount_input span {
 position: absolute;
 top: 9px;
 right: 20px;
 font-size: 15px;
 font-weight: 500;
 text-transform: uppercase;
}

.total_field::before,
.price_field::before {
 content: "USD";
 position: absolute;
 top: 7px;
 left: 10px;
 font-size: 17px;
 color: #66666d;
}

.total_field input,
.price_field input {
 padding-left: 55px;
}
.amount_input input {
 padding-right: 60px;
}

.action_popup button {
 width: 48%;
 height: 50px;
 font-size: 15px;
 font-weight: 500;
 border: none;
 border-radius: 5px;
}

.action_popup button:nth-child(1) {
 border: 1px solid rgb(201, 202, 209);
 background-color: #fff;
}

.action_popup button:nth-child(2) {
 color: #fff;
 background-color: var(--color-primary-blue);
}

.action_popup {
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.select_wallet  {
display: flex;
align-items: center;
}

.select_wallet select {
 margin-left: 15px;
 border-radius: 5px;
}


@keyframes showAnim {
 0% {
  opacity: 0;
 }
 50% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}

.form_content {
 animation: showAnim 0.2s linear;
}

@media only screen and (max-width: 450px) {
 .popup_content {
 max-width: 98vw;
 max-height: 80vh;
  padding: 15px;
 }
 .action_popup button {
  height: 40px;
 }

 .popup_content input {
  margin-bottom: 5px;
 }
}