/* Last last styles */

.content_block {
  width: 33%;
  min-height: 200px;
  padding: 20px;
  border-radius: var(--border-radius-block);
  background-color: var(--color-bg-primary);
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 1px 0 0 rgb(163 171 185 / 15%);
  border: var(--border-lightgray);
}

.last_view {
  width: 800px;
  padding: 0;
  font-size: 15px;
}

.last_view h2 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.033em;
  color: var(--color-primary-darkblue);
}

.last_row .coin_img img {
  position: absolute;
  left: 0;
  bottom: calc(50% - 9px);
  display: inline-block;
  width: 20px;
  font-size: 0;
  margin-right: 10px;
  line-height: 0;
}


.last_row img {
  user-select: none;
}

.last_row .coin_img svg {
  width: 20px;
  font-size: 20px;
  opacity: 0.5;
  user-select: none;
}

table.last_list {
  width: 100%;
  border-collapse: collapse;
}


/* Last last styles end */

/* prop search */

.prop_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}


.prop_search input {
  padding: 10px 35px 10px 0;
  width: 100%;
  min-width: 250px;
  font-size: inherit;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 96% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16669 1.66663C13.3067 1.66663 16.6667 5.02663 16.6667 9.16663C16.6667 13.3066 13.3067 16.6666 9.16669 16.6666C5.02669 16.6666 1.66669 13.3066 1.66669 9.16663C1.66669 5.02663 5.02669 1.66663 9.16669 1.66663ZM9.16669 15C12.3892 15 15 12.3891 15 9.16663C15 5.94329 12.3892 3.33329 9.16669 3.33329C5.94335 3.33329 3.33335 5.94329 3.33335 9.16663C3.33335 12.3891 5.94335 15 9.16669 15ZM16.2375 15.0591L18.595 17.4158L17.4159 18.595L15.0592 16.2375L16.2375 15.0591V15.0591Z' fill='%23717a8a'/%3E%3C/svg%3E%0A");
}

/* prop search end */

.coin_symb {
  display: inline-block;
  padding: 1px 5px;
  margin-left: 15px;
  font-size: 0.7em;
  text-transform: uppercase;
  color: #000000;
  background-color: #efeff3;
  border-radius: 5px;
  border: 1px solid #fff;
}

.column_0 {
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.column_1 {
  position: relative;
  padding-left: 30px;
  text-align: left;
}

.column_2 {
  text-align: right;
}

.column_3 {
  text-align: right;
}

.column_4 {
  text-align: right;
}

.column_5 {
  text-align: right;
}

.head_0 {
  text-align: center;
}
.head_1 {
  text-align: left;
}
.head_2 {
  text-align: right;
}
.head_3 {
  padding-left: 10px;
  text-align: center;
}
.head_4 {
  padding-right: 10px;
  text-align: right;
}
.head_5 {
  text-align: center;
}

.last_row {
  padding: 10px 15px;
  border-bottom: var(--border-lightgray);
  box-sizing: border-box;
}

.last_row:hover {
  background-color: rgb(240, 243, 248);
}

/* left & right paddings */
.last_row td:nth-child(1),
.last_row th:nth-child(1) {
  padding-left: 15px;
}

.last_row td:nth-last-child(1),
.last_row th:nth-last-child(1) {
  padding-right: 20px;
}

/* Top block margin */

.last_view header {
  margin: 20px;
}

.last_row td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.fav_btn {
  padding: 0;
  font-size: 19px;
  line-height: 0;
  border: none;
  background-color: transparent;
  color: var(--color-primary-gray);
}

.last_row .column_0 {
  padding-top: 12px;
  padding-bottom: 8px;
}

.column_0 .id {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 0.9em;
  margin-left: 12px;
  margin-right: 5px;
}