.dashboard_overlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--color-bg-lightgray);
}

.main_dash {
    padding: 0.5vw 2vw 1.5vw 1.5vw;
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

.dashboard_content {

}

.content_block {
    width: 33%;
    min-height: 200px;
    padding: 20px;
    border-radius: 1vw;
    background-color: var(--color-bg-primary);
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 90px 0 rgba(163, 171, 185,0.25);
    border: var(--border-lightgray);
}

/* header section */

.header_dash {
    width: 100%;
    height: 60px;
    background-color: var(--color-bg-primary);
    border-bottom: var(--border-lightgray);
}

.header_dash span {
    display: inline-block;
    margin: 10px;
}