.main_active {
    background-color: #fff;
}

.main_header.fixed {
  width: 100vw;
  position: fixed;
  top: -80px;
  left: 0;
  background-color: #fff;
  transition: top 0.3s ease-in-out 0.1s;
}

.header_floatfix {
  height: 0;
  width: 100%;
}

/* Header container & logo styles */

.main_header {
  position: static;
  border-bottom: var(--border-lightgray);
}

.blue_mode {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(41, 38, 38, 0.1);
}

.blue_mode a,
.blue_mode button {
  color: #fff!important;
}

.header_overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header_logo {
    font-size: 17px;
    font-weight: 600;
    user-select: none;
}

.header_logo a {
  color: var(--color-primary-blue);
  text-decoration: none;
}

.blue_mode .header_logo a {
  color: #fff;
}

/* Main menu */

.mobile_menu {
    display: none;
}

.main_nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 500;
    height: 70px;
  }

  .main_nav .element {
    cursor: pointer;
    margin-right: 5px;
  }

  .element:nth-last-child(1) {
      margin-right: 0;
  }

  .element_lang,
  .main_nav .element_btn,
  .main_nav .element,
  .main_nav .nav-button {
    display: flex;
  }

  .main_nav a {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    flex-basis: 100%;
  }
  
  .main_nav a {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-primary-black);
  }

  .main_nav .element a::after {
      content: "";
      opacity: 0;
      position: absolute;
      width: 60%;
      height: 3px;
      bottom: 0;
      left: 20%;
      background-color: var(--color-primary-blue);
      transition: opacity 0.15s ease-in;
    }

    .blue_mode .main_nav .element a::after {
      background-color: #fff;
    }

  .main_nav .element a:hover:after {
      opacity: 1;
  }

  .main_nav .element a:active {
    background-color: var(--color-primary-lightgray2); 
  }

  .blue_mode .main_nav .element a:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .main_nav span{
    display: block;
    width: 100%;
  }
  
  .mobile-menu {
    display: none;
    width: 100%;
    flex: 1 1 100%;
    text-align: center;
    padding: 20px 0;
    margin-left: -1px;
    margin-bottom: 0;
  
    font-size: 26px;
    font-weight: bold;
  }


  /* Nav buttons */

  div.element_btn {
      align-items: center;
      margin-left: 25px;
  }

  div.element_lang {
      position: relative;
      align-items: center;
  }

  .element_lang button {
    position: relative;
    height: 50%;
    padding-left: 35px;
    padding-right: 20px;
    border: none;
    background-color: transparent;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.252 10C4.08415 10.6534 3.99949 11.3254 4 12C4 12.69 4.088 13.36 4.252 14H7.1C6.96518 12.6701 6.96518 11.3299 7.1 10H4.252ZM5.07 8H7.416C7.682 6.783 8.066 5.693 8.537 4.786C7.08518 5.48542 5.87722 6.60523 5.07 8V8ZM19.748 10H16.9C17.0348 11.3299 17.0348 12.6701 16.9 14H19.748C20.0847 12.6879 20.0847 11.3121 19.748 10V10ZM18.93 8C18.1228 6.60523 16.9148 5.48542 15.463 4.786C15.935 5.693 16.318 6.783 16.584 8H18.93ZM9.112 10C9.03708 10.664 8.99968 11.3318 9 12C9 12.685 9.038 13.355 9.112 14H14.888C15.0386 12.6709 15.0386 11.3291 14.888 10H9.112ZM9.47 8H14.53C14.348 7.2483 14.0855 6.51841 13.747 5.823C13.119 4.568 12.447 4 12 4C11.552 4 10.881 4.568 10.253 5.823C9.938 6.455 9.673 7.19 9.47 8ZM5.07 16C5.87722 17.3948 7.08518 18.5146 8.537 19.214C8.065 18.307 7.682 17.217 7.416 16H5.07V16ZM18.93 16H16.584C16.318 17.217 15.934 18.307 15.463 19.214C16.9148 18.5146 18.1228 17.3948 18.93 16ZM9.47 16C9.673 16.81 9.938 17.545 10.253 18.177C10.881 19.432 11.553 20 12 20C12.448 20 13.119 19.432 13.747 18.177C14.062 17.545 14.327 16.81 14.53 16H9.47V16ZM12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22Z' fill='%231E1E1E'/%3E%3C/svg%3E%0A");
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border-color 0.15s ease-in;
}

.blue_mode .element_lang button {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.252 10C4.08415 10.6534 3.99949 11.3254 4 12C4 12.69 4.088 13.36 4.252 14H7.1C6.96518 12.6701 6.96518 11.3299 7.1 10H4.252ZM5.07 8H7.416C7.682 6.783 8.066 5.693 8.537 4.786C7.08518 5.48542 5.87722 6.60523 5.07 8V8ZM19.748 10H16.9C17.0348 11.3299 17.0348 12.6701 16.9 14H19.748C20.0847 12.6879 20.0847 11.3121 19.748 10V10ZM18.93 8C18.1228 6.60523 16.9148 5.48542 15.463 4.786C15.935 5.693 16.318 6.783 16.584 8H18.93ZM9.112 10C9.03708 10.664 8.99968 11.3318 9 12C9 12.685 9.038 13.355 9.112 14H14.888C15.0386 12.6709 15.0386 11.3291 14.888 10H9.112ZM9.47 8H14.53C14.348 7.2483 14.0855 6.51841 13.747 5.823C13.119 4.568 12.447 4 12 4C11.552 4 10.881 4.568 10.253 5.823C9.938 6.455 9.673 7.19 9.47 8ZM5.07 16C5.87722 17.3948 7.08518 18.5146 8.537 19.214C8.065 18.307 7.682 17.217 7.416 16H5.07V16ZM18.93 16H16.584C16.318 17.217 15.934 18.307 15.463 19.214C16.9148 18.5146 18.1228 17.3948 18.93 16ZM9.47 16C9.673 16.81 9.938 17.545 10.253 18.177C10.881 19.432 11.553 20 12 20C12.448 20 13.119 19.432 13.747 18.177C14.062 17.545 14.327 16.81 14.53 16H9.47V16ZM12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}


.element_lang button::after {
      right: 6px;
      bottom: calc(50% - 2.5px);
      border-color: var(--color-primary-black);
  }

  .show_block .btn_lang,
  .element_lang button:hover {
      border-color: #999999;
  }

  .blue_mode .element_lang button::after {
    border-color: #fff;
  }

  .element_btn a {
    color: #fff;
    background-color: var(--color-primary-blue);
    height: 50%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in;
  }

  .blue_mode .element_btn a {
    background-color: #fff;
    color: var(--color-primary-blue)!important;
  }

  .blue_mode .element_btn a:hover {
    background-color: rgb(180, 202, 235);
  }

  /* Btn hovers */
  .explore:hover,
  .element_btn a:hover {
    background-color: var(--color-primary-darkblue);
  }
  
  /* Section 1 */

  .header_section1 {
      padding: 20vh 0;
      text-align: center;
      border-bottom: var(--border-lightgray);
      background: radial-gradient(rgba(100, 139, 230, 0.45), transparent);
  }

  .header_title {
      font-size: 34px;
      margin: 20px 0;
      font-weight: 600;
  }

  .header_subtitle {
      font-size: 18px;
  }

  .header_subtitle span {
      display: block;
  }

  .explore {
      display: inline-block;
      padding: 0.6vw 1.4vw;
      margin-top: 3vh;
      font-size: 1em;
      text-decoration: none;
      color: #fff;
      background-color: var(--color-primary-blue);
      border: none;
      border-radius: 5px;
      transition: background-color 0.15s ease-in;
      user-select: none;
  }

  /* Language button & dropdown */


  .lang_drop {
      position: absolute;
      display: none;
      width: 135px;
      top: 85%;
      left: -25%;
      border: var(--border-lightgray);
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
      text-align: left;
  }

  .show_block .lang_drop {
      display: block;
  }

  .lang_drop_option {
    padding: 10px 12px;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #e8ebf0;
    cursor: pointer;
  }

  .lang_drop_option:nth-last-child(1) {
      border-bottom: none;
  }

  .lang_drop_option svg {
      font-size: 18px;
      margin-bottom: -3px;
      margin-right: 4px;
      filter: saturate(0.6);
  }

  .lang_drop_option:hover {
      background-color: var(--color-primary-lightgray2);
  }

  /* background: radial-gradient(rgb(100 115 230), #3d455c85); */