.login_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-width: 300px;
    min-height: 400px;
}

.login_block {
    width: 300px;
    padding: 30px 30px 10px;
    border: var(--border-lightgray);
}

.register_block {
    width: 300px;
    padding: 30px;
    border: var(--border-lightgray);
}

.register_block input,
.login_block input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-top: 3px;
    font-size: 15px;
    border: var(--border-lightgray);
    box-sizing: border-box;
    background-color: rgb(240, 244, 248);
}

.login_field {
    margin-top: 15px;
}

.btn_login {
    padding: 5px 15px;
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #4646c5;
    border: none;
}

.more_links a {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(27, 27, 187);
}

.more_links {
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
}