.login_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-width: 300px;
    min-height: 400px;
}

.login_block {
    width: 300px;
    padding: 30px 30px 10px;
    border: var(--border-lightgray);
}

.register_block {
    width: 300px;
    padding: 30px;
    border: var(--border-lightgray);
}

.register_block input,
.login_block input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-top: 3px;
    font-size: 15px;
    border: var(--border-lightgray);
    box-sizing: border-box;
    background-color: rgb(240, 244, 248);
}

.reg_success {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reg_title {
    display: block;
    font-size: 20px;
}

.reg_success a {
    display: block;
    text-decoration: none;
    margin-top: 15px;
}

.login_field {
    margin-top: 15px;
}

.login_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.btn_login {
    padding: 5px 15px;
    margin: 0;
    font-size: 15px;
    color: #fff;
    background-color: var(--color-primary-blue);
    border: none;
    text-decoration: none;
}

.btn_github {
    padding: 0;
    margin: 0;
    font-size: 25px;
    line-height: 20px;
    border: var(--border-lightgray);
}

.more_links a {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(27, 27, 187);
}

.more_links {
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
}