.content {
 padding: 50px 0 30px;
}

.title {
 font-size: 28px;
 font-weight: 500;
}

.subtitle {
 font-size: 16px;
 color:rgb(71, 71, 71);
}

.title,
.subtitle {
 display: block;
 text-align: center;
}

.i_blocks {
 display: flex;
 justify-content: space-between;
 align-items: stretch;
 flex-wrap: wrap;

 margin-top: 36px;
}

.i_block {
 display: flex;
 flex-direction: column;
 width: 23%;
 flex: 0 1 23%;
 padding: 20px;
 border-radius: 18px;
 border: var(--border-lightgray);
}

.i_block .icon {
 order: -1;

 display: flex;
 justify-content: center;
 align-items: center;
 
 width: 60px;
 height: 60px;

 margin-bottom: 15px;

 border-radius: 50%;
 overflow: hidden;
 background-color: #eceff8;
}

.i_block .icon svg {
 font-size: 29px;
 color: var(--color-primary-blue);
}

.i_block .icon_btc svg {
 padding: 2px;
 transform: rotate(15deg);
 border: 2px solid var(--color-primary-blue);
 border-radius: 50%;
 z-index: 0;
}

.i_block h3 {
 margin: 0 0 10px;
 font-size: 18px;
 font-weight: 500;
}

.i_block p {
 flex: 1;
 margin: 0 0 15px;
 font-size: 14.2px;
 font-weight: 400;
 color: rgb(71, 71, 71);
}

.i_block a {
 padding: 2px 0;
 text-decoration: none;
 color: var(--color-primary-blue);
 font-size: 15px;
 transition: margin 0.3s ease;
}

.i_block a:hover {
 margin-left: 5px;
}

.i_block a svg {
 margin-bottom: -4px;
 font-size: 18px;
}

@media only screen and (max-width: 768px) {
 .i_block {
  flex-basis: 49%;
 }

 .i_block:nth-child(1),
 .i_block:nth-child(2) {
  margin-bottom: 10px;
 }
}

@media only screen and (max-width: 450px) {
 .i_block {
  padding: 12px;
 }
}

@media only screen and (max-width: 400px) {
 .i_block {
  flex-basis: 100%;
  margin-bottom: 10px;
 }
}