:root {
  --color-bg-primary: #fff;
  --color-bg-lightgray: #F3F4F8;
  --color-primary-blue: #003AD2;
  --color-primary-darkblue: #204173;
  --color-header-text: #1F4173;
  --color-basic-text: #1F4173;
  --color-second-text: #8FA0B9;
  --color-primary-gray: #717A8A;
  --color-primary-lightgray: #E9F0FF;
  --color-primary-lightgray2:#F0F4FC;
  }

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
      "Helvetica", "Arial", sans-serif;
    color: #1e1e1e;
    line-height: 1.47059;
    font-weight: 400;
    overflow: visible;
    height: auto;
  }

.content-wrapper {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  width: 50px;
}

.header-content {
  background-color: #e3e3e3;
}

.header-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.main_nav {
  width: 70%;
}

.main_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main_nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0 20px;
}

.main_nav li a:hover {
  background-color: #fff;
}

.active_a{
  background-color: rgb(255, 255, 255);
}