.content-wrapper {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  width: 50px;
}

.header-content {
  background-color: #e3e3e3;
}

.header-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.main_nav {
  width: 70%;
}

.main_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main_nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0 20px;
}

.main_nav li a:hover {
  background-color: #fff;
}