body {
  min-width: 1000px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
      "Helvetica", "Arial", sans-serif;
    color: #1e1e1e;
    line-height: 1.47059;
    font-weight: 400;
    overflow: visible;
    height: auto;
  }

.content-wrapper {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  width: 50px;
}

.header-content {
  background-color: #e3e3e3;
}

.header-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.main_nav {
  width: 70%;
}

.main_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main_nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0 20px;
}

.main_nav li a:hover {
  background-color: #fff;
}

.active_a{
  background-color: rgb(255, 255, 255);
}

/* show more icon */

.ic-dropdown::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  right: 1.2vw;
  bottom: 19px;
  border: 1px solid gray;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}

/* Show for not unique block */

.show_block {
  display: block!important;
  opacity: 1!important;
}