.content_block {
  width: 100%;
  min-height: 80vh;
  min-height: calc(100vh - 150px);
  padding: 20px;
  border-radius: var(--border-radius-block);
  background-color: var(--color-bg-primary);
  overflow: hidden;
  margin-bottom: 20px;
  border: var(--border-lightgray2);
  box-shadow: var(--shadow-main);
}

.title {
  font-size: 19px;
  margin: 0 0 1.2em;
  font-weight: 600;
  letter-spacing: 0.023em;
  color: var(--color-primary-darkblue);
}

/* Block styles end */

/* Current Wallet block */

.head_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.current_wallet {
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  border: 1px solid gray;
}

.wallet_select {
  flex: 1 0 100%;
}

.current_block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid gray;
}

/* Current Wallet block end */

/* Create new block */

.create_new {
  text-align: center;
  margin: 20% 0;
}

.create_new button {
  margin-top: 20px;
}

/* Create new block end */